<div class="container d-flex justify-content-center align-items-center">
    <div class="card" style="width: 18rem;">
        
        <nav class="navbar bg-light">
            <div class="contenedor px-2">
              <a class="navbar-brand">
                <img src="https://icons-for-free.com/iconfiles/png/512/vscode+icons+type+angular-1324451232424045372.png" alt="Bootstrap" width="30"> Componentes Angular
              </a>
            </div>
          </nav>

        <h1 class="card-title d-flex justify-content-center align-items-center">{{numero}}</h1>
        <div class="card-body">
            <button class="btn btn-primary" (click)="decremento()">- Decrement</button>
            <button class="btn btn-primary" (click)="incremento()">+ Increment</button>
        </div>
    </div>
</div>